body {
  font-family: "IvyEpic", sans-serif;
  font-size: 16px;
  src: url("./index.css") format("woff2");
  font-display: swap;
}
.course_type {
  font-size: 14px;
  background-color: #fff;
}
.active {
  background: linear-gradient(-45deg, #003eff, #0094ff);
  color: white;
  font-style: italic;
}
.activeBtnMenu {
  background-color: #fff;
}

/* Swiper Image */
.swipeImg {
  height: 100vh;
  position: absolute; /* Boshlang'ich nuqta */
  animation: slideUp 2s ease forwards;
}
@keyframes slideUp {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-110%, -42%) scale(0.5);
    opacity: 0;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dark .ant-form-item .ant-form-item-label > label,
.dark .ant-drawer .ant-drawer-close {
  color: white;
}
.cardInput::placeholder {
  color: rgb(169, 169, 169);
}
.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
  background: #9ca3af;
}

.or::before {
  content: "";
  display: inline-flex;
  height: 2px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
}

.or::after {
  content: "";
  display: inline-flex;
  height: 2px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
}
.ant-form-item-required {
  display: block;
}
:where(.ant-row.ant-form-item-row.css-dev-only-do-not-override-xex5fb) {
  flex-direction: column !important;
  justify-content: start !important;
}
.ant-form-item .ant-form-item-label {
  text-align: start !important;
}
.ant-form-horizontal .ant-form-item-control {
  flex: none;
  border-radius: 100px;
}
.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item-control input {
  border-radius: 100px !important;
  padding-left: 20px !important;
}
.ant-input-affix-wrapper.css-dev-only-do-not-override-xex5fb.ant-input-outlined.ant-input-status-success.ant-input-password {
  border-radius: 100px !important;
  padding: 10px auto !important;
  height: 41px !important;
}
.ant-input-outlined {
  border-color: #6b7280;
  border-radius: 100px;
  height: 41px;
}
.ant-input-affix-wrapper {
  padding: 4px 11px 4px 0px !important;
}
.ant-col,
.ant-checkbox-wrapper,
.ant-form {
  font-family: "IvyEpic", sans-serif;
}
.selectType {
  transform: translateX(100%);
  transition: all ease 0.4s;
  opacity: 0;
  pointer-events: none; /* Elementga interaktivlikni o'chirish */
}

.showTypeSelect {
  transform: translateX(0%);
  transition: all ease 0.4s;
  opacity: 1;
  pointer-events: auto; /* Elementga interaktivlikni yoqish */
}
#select_channel .ant-form-item-control input {
  border-radius: 10px !important;
}

.ant-upload-drag .ant-upload {
  padding: 0 !important;
}
